# 1st gen's latest runtime is Node 20
# https://cloud.google.com/functions/docs/runtime-support#node.js
# This setting tells pnpm to use Node 20 for all operations
# https://pnpm.io/npmrc#use-node-version
use-node-version=20.18.2