<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.firebase.linelogindemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LineLoginDemoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Start config for LINE Login-->
        <activity android:name="jp.line.android.sdk.activity.LineAuthCompleteActivity"
            android:configChanges="keyboard|orientation"
            android:exported="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="line.${line_channel_id}" />
            </intent-filter>
        </activity>

        <activity android:name="jp.line.android.sdk.activity.WebLoginActivity"
            android:exported="false"
            android:configChanges="keyboard|orientation"
            android:screenOrientation="sensor">
        </activity>

        <meta-data
            android:name="jp.line.sdk.ChannelId"
            android:value="${line_channel_id}" />
        <meta-data
            android:name="jp.line.sdk.AuthScheme"
            android:value="line.${line_channel_id}" />
        <!--End of LINE Login Configuration-->

    </application>

</manifest>