{
  "presets": [
    ["env", {
      "targets": {
        "node": "6.11"
      }
    }]
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false, "regenerator": true}],
    "transform-object-rest-spread"
  ]
}
